@model SD_330_W22SD_Assignment.Models.Question

<h1>@Model.Title</h1>
<p>@Model.Body</p>

@foreach(Answer answer in Model.Answers)
{
    <div>
        <h4>@answer.User.UserName</h4>
        <p>@answer.Body</p>
    </div>
}
<h5>Respond here:</h5>
<div>
    <form asp-action="AnswerQuestion" asp-route-questionId="@Model.Id" method="post" >
        <textarea name="answer" rows="10"></textarea>
        <button>Submit</button>
    </form>
</div>
<br />

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
