@model SD_330_W22SD_Assignment.Models.Question
@ViewBag.Message
<h1>@Model.Title</h1>
<p>@Model.Body</p>

@if(Model.Comments.Count > 0)
{
    <h5>Comments:</h5>
    @foreach(CommentToQuestion comment in Model.Comments)
    {
        <div class="comment-box">
            <p>@comment.Body by @comment.User.UserName</p>
        </div>
    }
}


<div>
    <form asp-action="AddComment" asp-route-questionId="@Model.Id">
        <label for="comment" style="font:bold">Comment to this Question:</label>
        <br />
        <input placeholder="Add your comments here..." name="comment" />
        <button>Submit</button>
    </form>
</div>
<br />
<hr />
<h3>Responses:</h3>

@foreach(Answer answer in Model.Answers)
{
    <div>
        <h4>@answer.User.UserName</h4>
        <p>@answer.Body</p>
        <form asp-action="AddComment" asp-route-answerId="@answer.Id">
            <label for="comment">Your comment</label>
            <input placeholder="Comment to this answer" name="comment" type="text">
            <button type="submit">Submit</button>
        </form>
    </div>
    
    @*@foreach(CommentToAnswer comment in answer.Comments)
    {
        <div>
            <h6>@answer.User.UserName</h6>
            <p>@comment.Body</p>
        </div>
    }*@
}
<h5>Respond here:</h5>
<div>
    <form asp-action="AnswerQuestion" asp-route-questionId="@Model.Id" method="post">
        <textarea name="answer" rows="10"></textarea><br />
        <button>Submit</button>
    </form>
</div>
<br />

<div>
    <a asp-action="Index">Back to List</a>
</div>
