@model IEnumerable<SD_330_W22SD_Assignment.Models.Question>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Stack Overflow</h1>
<form>
    <button asp-action="PostQuestion">Post a question</button>
</form>


<div>
    @foreach(Question question in Model)
    {
        <div>
            <h5>Title: @question.Title</h5>
            <p>Posted by: @question.User.UserName</p>
            <p>Date Posted: @question.CreatedDate</p>
            <p>Answers: @question.Answers.Count</p>
            <hr>
            <p>@question.Body</p>

            <hr>
            <form asp-action="Index" asp-route-questionId="@question.Id" asp-route-vote="up" method=post>
                <button type="submit">Thumbs Up</button>
            </form>
            <form asp-action="Index" asp-route-questionId="@question.Id" asp-route-vote="down" method=post>
                <button type="submit">Thumbs Down</button>
            </form>
            <p><a asp-action="Index" asp-route-questionId="@question.Id" asp-route-voteUp="true" method=post>Thumbs Up</a></p>
            <p>UpVotes: @question.Votes.Where(v => v.UpVote).Count() | DownVotes: @question.Votes.Where(v => v.DownVote).Count()</p>
            <h6><a asp-action="AnswerQuestion" asp-route-questionId="@question.Id" style="text-decoration: none">
                Answer this question</a></h6>
            <br>
            @if(question.Tags.Count > 0)
            {
               @* @foreach(Question_Tag qTag in question.QuestionTags)
                {
                    <div style="display:inline">
                        @qTag.Tag.Name;
                    </div>
                
                }*@
            }
            

            <hr>
        </div>
    }

</div>