@model IEnumerable<SD_330_W22SD_Assignment.Models.Question>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Stack Overflow</h1>
<form>
    <button asp-action="PostQuestion">Post a question</button>
</form>


<h3></h3>

<div>
    @foreach(Question question in Model)
    {
        <div>
            <h5>Title: @question.Title</h5>
            <p>Posted by: @question.User.UserName</p>
            <p>Date Posted: @question.CreatedDate</p>
            <p>Answers: @question.Answers.Count</p>
            <hr>
            <p>@question.Body</p>
            @foreach(Tag tag in question.Tags)
            {
                <p style="display:inline">@tag.Name</p>
            }
            <hr>
            <form>
                <button asp-action="AnswerQuestion" asp-route-question="@question">Answer</button>
            </form>
            
        </div>
    }

</div>